[submodule "dplyr"]
	path = dplyr
	url = https://github.com/tidyverse/dplyr
[submodule "broom"]
	path = broom
	url = https://github.com/tidyverse/broom
[submodule "dbplyr"]
	path = dbplyr
	url = https://github.com/tidyverse/dbplyr
[submodule "dtplyr"]
	path = dtplyr
	url = https://github.com/tidyverse/dtplyr
[submodule "forcats"]
	path = forcats
	url = https://github.com/tidyverse/forcats
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
[submodule "googledrive"]
	path = googledrive
	url = https://github.com/tidyverse/googledrive
[submodule "googlesheets4"]
	path = googlesheets4
	url = https://github.com/tidyverse/googlesheets4
[submodule "haven"]
	path = haven
	url = https://github.com/tidyverse/haven
[submodule "hms"]
	path = hms
	url = https://github.com/tidyverse/hms
[submodule "lubridate"]
	path = lubridate
	url = https://github.com/tidyverse/lubridate
[submodule "magrittr"]
	path = magrittr
	url = https://github.com/tidyverse/magrittr
[submodule "modelr"]
	path = modelr
	url = https://github.com/tidyverse/modelr
[submodule "purrr"]
	path = purrr
	url = https://github.com/tidyverse/purrr
[submodule "readr"]
	path = readr
	url = https://github.com/tidyverse/readr
[submodule "readxl"]
	path = readxl
	url = https://github.com/tidyverse/readxl
[submodule "reprex"]
	path = reprex
	url = https://github.com/tidyverse/reprex
[submodule "rlang"]
	path = rlang
	url = https://github.com/tidyverse/rlang
[submodule "rvest"]
	path = rvest
	url = https://github.com/tidyverse/rvest
[submodule "stringr"]
	path = stringr
	url = https://github.com/tidyverse/stringr
[submodule "tibble"]
	path = tibble
	url = https://github.com/tidyverse/tibble
[submodule "tidyr"]
	path = tidyr
	url = https://github.com/tidyverse/tidyr
[submodule "cli"]
	path = cli
	url = https://github.com/r-lib/cli
[submodule "crayon"]
	path = crayon
	url = https://github.com/r-lib/crayon
[submodule "httr"]
	path = httr
	url = https://github.com/r-lib/httr
[submodule "jsonlite"]
	path = jsonlite
	url = https://github.com/jeroen/jsonlite
[submodule "pillar"]
	path = pillar
	url = https://github.com/r-lib/pillar
[submodule "rstudioapi"]
	path = rstudioapi
	url = https://github.com/rstudio/rstudioapi
[submodule "xml2"]
	path = xml2
	url = https://github.com/r-lib/xml2
[submodule "submodules/broom"]
	path = submodules/broom
	url = https://github.com/tidymodels/broom
[submodule "submodules/cli"]
	path = submodules/cli
	url = https://github.com/r-lib/cli
[submodule "submodules/crayon"]
	path = submodules/crayon
	url = https://github.com/r-lib/crayon
[submodule "submodules/dbplyr"]
	path = submodules/dbplyr
	url = https://github.com/tidyverse/dbplyr
[submodule "submodules/dplyr"]
	path = submodules/dplyr
	url = https://github.com/tidyverse/dplyr
[submodule "submodules/dtplyr"]
	path = submodules/dtplyr
	url = https://github.com/tidyverse/dtplyr
[submodule "submodules/forcats"]
	path = submodules/forcats
	url = https://github.com/tidyverse/forcats
[submodule "submodules/ggplot2"]
	path = submodules/ggplot2
	url = https://github.com/tidyverse/ggplot2
[submodule "submodules/googledrive"]
	path = submodules/googledrive
	url = https://github.com/tidyverse/googledrive
[submodule "submodules/googlesheets4"]
	path = submodules/googlesheets4
	url = https://github.com/tidyverse/googlesheets4
[submodule "submodules/haven"]
	path = submodules/haven
	url = https://github.com/tidyverse/haven
[submodule "submodules/hms"]
	path = submodules/hms
	url = https://github.com/tidyverse/hms
[submodule "submodules/httr"]
	path = submodules/httr
	url = https://github.com/r-lib/httr
[submodule "submodules/jsonlite"]
	path = submodules/jsonlite
	url = https://github.com/jeroen/jsonlite
[submodule "submodules/lubridate"]
	path = submodules/lubridate
	url = https://github.com/tidyverse/lubridate
[submodule "submodules/magrittr"]
	path = submodules/magrittr
	url = https://github.com/tidyverse/magrittr
[submodule "submodules/modelr"]
	path = submodules/modelr
	url = https://github.com/tidyverse/modelr
[submodule "submodules/pillar"]
	path = submodules/pillar
	url = https://github.com/r-lib/pillar
[submodule "submodules/purrr"]
	path = submodules/purrr
	url = https://github.com/tidyverse/purrr
[submodule "submodules/readr"]
	path = submodules/readr
	url = https://github.com/tidyverse/readr
[submodule "submodules/readxl"]
	path = submodules/readxl
	url = https://github.com/tidyverse/readxl
[submodule "submodules/reprex"]
	path = submodules/reprex
	url = https://github.com/tidyverse/reprex
[submodule "submodules/rlang"]
	path = submodules/rlang
	url = https://github.com/r-lib/rlang
[submodule "submodules/rstudioapi"]
	path = submodules/rstudioapi
	url = https://github.com/rstudio/rstudioapi
[submodule "submodules/rvest"]
	path = submodules/rvest
	url = https://github.com/tidyverse/rvest
[submodule "submodules/stringr"]
	path = submodules/stringr
	url = https://github.com/tidyverse/stringr
[submodule "submodules/tibble"]
	path = submodules/tibble
	url = https://github.com/tidyverse/tibble
[submodule "submodules/tidyr"]
	path = submodules/tidyr
	url = https://github.com/tidyverse/tidyr
[submodule "submodules/xml2"]
	path = submodules/xml2
	url = https://github.com/r-lib/xml2
[submodule "submodules/tidyverse"]
	path = submodules/tidyverse
	url = https://github.com/tidyverse/tidyverse
